name: workflow to deploy an ARM Template to a resource group
on: push

env:
  AZURE_SUBSCRIPTION_ID: << Subscription Id >>   # set this to your Azure Subscription Id
  
  AZURE_RESOURCE_GROUP_1: << Azure Resource Group 1>>   # set this to your Azure Resource group's name  
  AZURE_RESOURCE_GROUP_2: << Azure Resource Group 1>>   # set this to your Azure Resource group's name
  
  AZURE_Location_1: EAST US
  AZURE_Location_2: Southeast Asia
  
  AZURE_WEB_APP_1: SJEHHC-RG01-WebApp01-A001
  AZURE_WEB_APP_2: SJEHHC-RG01-WebApp01-A002
  

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # Checkout
    - name: Checkout
      uses: actions/checkout@v2

    # Inject values into ARM parameters
    - name: Modify service_app_1_parameters.json
      uses: microsoft/variable-substitution@v1
      with:
        files: 'service_app_1_parameters.json'
      env: 
        parameters.name.value: ${{env.AZURE_WEB_APP_1}}
      
    - name: Modify service_app_2_parameters.json
      uses: microsoft/variable-substitution@v1      
      with:
        files: 'service_app_2_parameters.json'
      env:
        parameters.name.value: ${{env.AZURE_WEB_APP_2}}

    - name: Modify frontdoor_parameters.json
      uses: microsoft/variable-substitution@v1      
      with:
        files: 'frontdoor_parameters.json'
      env:
        parameters.firstAppServiceName.value: ${{env.AZURE_WEB_APP_1}}  
        parameters.secondAppServiceName.value: ${{env.AZURE_WEB_APP_2}}        
      
    # Authentication
    # Set up the following secrets in your repository: AZURE_CREDENTIALS
    # For details on usage of secrets, please refer https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS  }}
                          
    # Deployment of template    
    - name: Deploy ARM Template - App Service 1
      uses: azure/arm-deploy@v1
      with:
        # You can change these environment variables for your configuration:   AZURE_SUBSCRIPTION_ID, AZURE_RESOURCE_GROUP
        resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP_1 }}
        template: ./service_app_template.json  # Set this to the location of your template file
        parameters: ./service_app_1_parameters.json # Set this to the location of your parameters file
 
    # Deployment of template    
    - name: Deploy ARM Template - App Service 2
      uses: azure/arm-deploy@v1
      with:
        # You can change these environment variables for your configuration:   AZURE_SUBSCRIPTION_ID, AZURE_RESOURCE_GROUP
        resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP_2 }}
        template: ./service_app_template.json  # Set this to the location of your template file
        parameters: ./service_app_2_parameters.json # Set this to the location of your parameters file 

    # Deployment of template    
    - name: Deploy ARM Template - Front Door
      uses: azure/arm-deploy@v1
      with:
        # You can change these environment variables for your configuration:   AZURE_SUBSCRIPTION_ID, AZURE_RESOURCE_GROUP
        resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP_1 }}
        template: ./frontdoor_template.json  # Set this to the location of your template file
        parameters: ./frontdoor_parameters.json # Set this to the location of your parameters file
